.vscode
venv
cmd/nfguard/nfguard
coverage.out
roles/master/files/client
roles/master/files/nfguard
roles/master/files/snowflake
roles/master/files/spamd
roles/master/files/grafana*
roles/master/files/magnetico
