.vscode
venv
roles/firewall/files/dnsd
cmd/dnsd/dnsd
roles/firewall/files/nfguard
cmd/nfguard/nfguard
roles/firewall/files/client
roles/firewall/files/snowflake
roles/services/files/magnetico
roles/services/files/grafana*
coverage.out
roles/firewall/files/spamd
