[Unit]
Description=HTTP proxy Daemon
Wants=network-online.target
After=network.target network-online.target

[Service]
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
ProtectSystem=strict
ProtectHome=yes
PrivateDevices=yes
PrivateTmp=yes
PrivateControlGroups=yes
RestrictSUIDSGID=true
NoNewPrivileges=true
#IPAddressAllow=127.0.0.1
#IPAddressDeny=any
User=proxy
Group=proxy
ExecStart=/usr/local/bin/httpproxy

[Install]
WantedBy=multi-user.target
