[Unit]
Description=Proxy Daemon
Wants=network-online.target
After=network.target network-online.target

[Service]
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
ProtectSystem=strict
ProtectHome=yes
PrivateDevices=yes
PrivateTmp=yes
RestrictSUIDSGID=true
NoNewPrivileges=true
AmbientCapabilities=CAP_NET_BIND_SERVICE
User=proxy
Group=proxy
LimitNOFILE=16384
ExecStart=/usr/local/bin/proxy

[Install]
WantedBy=multi-user.target
