---

- name: Update grub
  ansible.builtin.command:
    cmd: /usr/sbin/update-grub
  listen: Update grub
  changed_when: false

- name: Reload .network and .netdev files
  ansible.builtin.command:
    cmd: /usr/bin/networkctl reload
  listen: Networkctl reload
  changed_when: false

- name: Restart timesyncd
  ansible.builtin.systemd:
    name: systemd-timesyncd.service
    state: restarted
  listen: Restart ntp

- name: Restart ssh
  ansible.builtin.systemd:
    name: ssh.service
    state: restarted
  listen: Restart ssh

- name: Restart postgresql
  ansible.builtin.systemd:
    name: "postgresql@{{ base_postgresql_version }}-main.service"
    state: restarted
  listen: Restart postgresql

- name: Restart k0s
  ansible.builtin.systemd:
    daemon_reload: true
    name: k0s.service
    state: restarted
  listen: Restart k0s

- name: Restart systemd-resolved
  ansible.builtin.systemd:
    name: systemd-resolved
    state: restarted
  listen: Restart systemd-resolved
