global
    log /dev/log    local0
    log /dev/log    local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

    # TLS configuration
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private
    ssl-default-bind-ciphers TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options prefer-client-ciphers no-sslv3 no-tlsv10 no-tlsv11 no-tlsv12 no-tls-tickets
    ssl-default-server-ciphersuites TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-server-options no-sslv3 no-tlsv10 no-tlsv11 no-tlsv12 no-tls-tickets

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http

resolvers resolved
    nameserver dns1 127.0.0.53:53
    nameserver dns2 127.0.0.54:53
    nameserver dns3 {{ wg0_ipv4 }}:53
    nameserver dns4 {{ wg0_ipv6 }}:53
    accepted_payload_size 8192
    resolve_retries 4
    timeout resolve 1m
    timeout retry 1m
    hold other 1m
    hold refused 1m
    hold nx 1m
    hold timeout 1m
    hold valid 15m
    hold obsolete 1m

frontend fe_http
    bind {{ wg0_ipv4 }}:80
    bind {{ wg0_ipv6 }}:80

    use_backend be_stats if { hdr(host) -i {{ wg0_ipv4 }} }
    use_backend be_stats if { hdr(host) -i {{ wg0_ipv6 }} }

    default_backend be_shshd

backend be_stats
    compression algo gzip
    stats enable
    stats uri /
    stats refresh 1s

backend be_shshd
    server shshd [::1]:80 check maxconn 32768

frontend fe_sni
    bind {{ wg0_ipv4 }}:443
    bind {{ wg0_ipv6 }}:443

    mode tcp
    option tcplog

    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }

    use_backend be_chat if { req_ssl_sni -i {{ haproxy_chat }} }
    use_backend be_imaps if { req_ssl_sni -i {{ haproxy_imaps }} }

    default_backend be_snid

backend be_chat
    mode tcp
    option redispatch
    balance roundrobin

    stick-table type binary len 32 size 30k expire 30m
    acl serverhello rep_ssl_hello_type 2

    tcp-request inspect-delay 5s
    tcp-request content reject unless { req_ssl_hello_type 1 }
    tcp-request content reject unless { req_ssl_sni -i {{ haproxy_chat }} }
    tcp-response content accept if serverhello

    stick on payload_lv(43,1) if { req_ssl_hello_type 1 }
    stick store-response payload_lv(43,1) if serverhello

    server-template chat 7 {{ haproxy_chat }}:453 resolvers resolved resolve-prefer ipv4 init-addr none maxconn 1

backend be_imaps
    mode tcp
    option redispatch
    balance roundrobin

    stick-table type binary len 32 size 30k expire 30m
    acl serverhello rep_ssl_hello_type 2

    tcp-request inspect-delay 5s
    tcp-request content reject unless { req_ssl_hello_type 1 }
    tcp-request content reject unless { req_ssl_sni -i {{ haproxy_imaps }} }
    tcp-response content accept if serverhello

    stick on payload_lv(43,1) if { req_ssl_hello_type 1 }
    stick store-response payload_lv(43,1) if serverhello

{% if ipv6 %}
    server-template imaps 3 {{ haproxy_imaps }}:993 resolvers resolved resolve-prefer ipv6 init-addr none maxconn 1
{% else %}
    server-template imaps 3 {{ haproxy_imaps }}:993 resolvers resolved resolve-prefer ipv4 init-addr none maxconn 1
{% endif %}

backend be_snid
    mode tcp
    option redispatch
    balance roundrobin

    stick-table type binary len 32 size 30k expire 30m
    acl clienthello req_ssl_hello_type 1
    acl serverhello rep_ssl_hello_type 2

    tcp-request inspect-delay 5s
    tcp-request content accept if clienthello
    tcp-response content accept if serverhello

    stick on payload_lv(43,1) if clienthello
    stick store-response payload_lv(43,1) if serverhello

    server snid [::1]:443 check maxconn 32768

listen submission_egress
    bind {{ wg0_ipv4 }}:587
    bind {{ wg0_ipv6 }}:587

    mode tcp
    option tcplog
    option redispatch
    balance roundrobin
    
{% if ipv6 %}
    server-template submission 2 {{ haproxy_submission }}:587 resolvers resolved resolve-prefer ipv6 init-addr none maxconn 1
{% else %}
    server-template submission 2 {{ haproxy_submission }}:587 resolvers resolved resolve-prefer ipv4 init-addr none maxconn 1
{% endif %}

listen whatsapp_egress
    bind {{ wg0_ipv4 }}:5222
    bind {{ wg0_ipv6 }}:5222

    mode tcp
    option tcplog
    option redispatch
    balance roundrobin

{% if ipv6 %}
    server-template whatsapp 2 g.whatsapp.net:5222 resolvers resolved resolve-prefer ipv6 init-addr none maxconn 1
{% else %}
    server-template whatsapp 2 g.whatsapp.net:5222 resolvers resolved resolve-prefer ipv4 init-addr none maxconn 1
{% endif %}

listen socks_ingress
    bind {{ wg0_ipv4 }}:9050
    bind {{ wg0_ipv6 }}:9050

    mode tcp
    option tcplog
    option redispatch
    balance roundrobin

{% if ipv6 %}
    server socks [::1]:9050 check maxconn 4
{% else %}
    server socks 127.0.0.1:9050 check maxconn 4
{% endif %}
