[Unit]
Description=NetFilter Tables Guard Daemon
Wants=network-online.target
After=network.target network-online.target

[Service]
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
DevicePolicy=closed
ExecStart={{ nfguard_path }} -interfaceIPv4 {{ wg0_ipv4 }} -interfaceIPv6 [{{ wg0_ipv6 }}]
Group=proxy
LimitNOFILE=infinity
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=true
PrivateDevices=yes
PrivateTmp=yes
ProcSubset=pid
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
RemoveIPC=yes
Restart=on-failure
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@resources @privileged
UMask=777
User=proxy

[Install]
WantedBy=multi-user.target