#!/usr/sbin/nft -f

flush ruleset

table inet filter {

    chain input {
        type filter hook input priority 0; policy drop;
        iif lo accept
        iifname wan jump input_wan
        iifname wg0 accept
    }
    chain input_wan {
{% if ipv4 %}
        ip protocol icmp accept
        ip protocol udp udp sport 67 udp dport 68 accept
{% endif %}
{% if ipv6 %}
        ip6 nexthdr icmpv6 accept
        ip6 nexthdr udp udp sport 547 udp dport 546 accept
{% endif %}
        meta pkttype { broadcast, multicast } drop
        ct state invalid drop
        ct state established,related accept
{% if wan_ssh %}
        tcp sport 1024-65535 tcp dport 22 accept
{% endif %}
        udp sport 1024-65535 udp dport { 123, {{ wg0_port }} } accept
    }

    chain output {
        type filter hook output priority 0; policy drop;
        oif lo accept
        oifname wan jump output_wan
        oifname wg0 accept
    }
    chain output_wan {
{% if ipv4 %}
        ip protocol icmp accept
        ip protocol udp udp sport 68 udp dport 67 accept
{% endif %}
{% if ipv6 %}
        ip6 nexthdr icmpv6 accept
        ip6 nexthdr udp udp sport 546 udp dport 547 accept
{% endif %}
        meta pkttype { broadcast, multicast } drop
        ct state invalid drop
        ct state established,related accept
        udp sport 1024-65535 udp dport 123 skuid systemd-timesync accept
        tcp sport 1024-65535 tcp dport 443 skuid { _apt, proxy, debian-tor } accept
        udp sport 1024-65535 udp sport 1024-65535 skuid { proxy, debian-tor } accept
        tcp sport 1024-65535 tcp dport { 587, 993, 5222 } skuid haproxy accept
        reject with icmpx type port-unreachable
    }

    chain forward {
        type filter hook forward priority 0; policy drop;
        meta pkttype { broadcast, multicast } drop
        iifname wg0 oifname wan jump forward_nat
        iifname wan oifname wg0 jump forward_reverse
        iifname wg0 oifname wg0 reject with icmpx type host-unreachable
    }
    chain forward_reverse {
        ct state invalid drop
        ct state established,related accept
        drop
    }
    chain forward_nat {
        ct state invalid drop
        ct state established,related accept
        udp sport 49152-65535 udp dport 1024-65535 accept
{% if ipv4 %}
        ip daddr 17.0.0.0/8 tcp sport 49152-65535 tcp dport { 587, 993, 5223 } accept
        ip daddr 17.0.0.0/8 udp sport 16384-16403 udp dport 1024-65535 accept
{% endif %}
        reject with icmpx type port-unreachable
    }

    chain prerouting {
        type nat hook prerouting priority 0;
{% if ipv4 %}
        iifname wg0 ip daddr != {{ wg0_ipv4 }} tcp dport 53 redirect to 53
        iifname wg0 ip daddr != {{ wg0_ipv4 }} udp dport 53 redirect to 53
        iifname wg0 ip daddr != {{ wg0_ipv4 }} tcp dport 80 redirect to 80
        iifname wg0 ip daddr != {{ wg0_ipv4 }} udp dport 123 redirect to 123
        iifname wg0 ip daddr != {{ wg0_ipv4 }} tcp dport 443 redirect to 443
        iifname wg0 ip daddr != {{ wg0_ipv4 }} tcp dport 453 redirect to 443
        iifname wg0 ip daddr != {{ wg0_ipv4 }} tcp dport 585 redirect to 443
        iifname wg0 ip daddr != {{ wg0_ipv4 }} ip daddr != 17.0.0.0/8 tcp dport 587 redirect to 587
        iifname wg0 ip daddr != {{ wg0_ipv4 }} ip daddr != 17.0.0.0/8 tcp dport 993 redirect to 443
        iifname wg0 ip daddr != {{ wg0_ipv4 }} tcp dport 5222 redirect to 5222
{% endif %}
{% if ipv6 %}
        iifname wg0 ip6 daddr != {{ wg0_ipv6 }} tcp dport 53 redirect to 53
        iifname wg0 ip6 daddr != {{ wg0_ipv6 }} udp dport 53 redirect to 53
        iifname wg0 ip6 daddr != {{ wg0_ipv6 }} tcp dport 80 redirect to 80
        iifname wg0 ip6 daddr != {{ wg0_ipv6 }} udp dport 123 redirect to 123
        iifname wg0 ip6 daddr != {{ wg0_ipv6 }} tcp dport 443 redirect to 443
        iifname wg0 ip6 daddr != {{ wg0_ipv6 }} tcp dport 453 redirect to 443
        iifname wg0 ip6 daddr != {{ wg0_ipv6 }} tcp dport 585 redirect to 443
        iifname wg0 ip6 daddr != {{ wg0_ipv6 }} tcp dport 587 redirect to 587
        iifname wg0 ip6 daddr != {{ wg0_ipv6 }} tcp dport 993 redirect to 443
        iifname wg0 ip6 daddr != {{ wg0_ipv6 }} tcp dport 5222 redirect to 5222
{% endif %}
    }

    chain postrouting {
        type nat hook postrouting priority 0;
        oifname wan tcp flags syn tcp option maxseg size set rt mtu
        oifname wan masquerade fully-random
    }
}