[Unit]
Description=Anonymizing overlay network for TCP
After=network-online.target nss-lookup.target
PartOf=tor.service
ReloadPropagatedFrom=tor.service

[Service]
AmbientCapabilities=
AppArmorProfile=-system_tor
CapabilityBoundingSet=CAP_SETUID CAP_SETGID CAP_DAC_READ_SEARCH
DevicePolicy=closed
ExecReload=/bin/kill -HUP ${MAINPID}
ExecStart=/usr/bin/tor --defaults-torrc /usr/share/tor/tor-service-defaults-torrc -f /etc/tor/torrc --RunAsDaemon 0
ExecStartPre=/usr/bin/install -Z -m 02755 -o debian-tor -g debian-tor -d /run/tor
ExecStartPre=/usr/bin/tor --defaults-torrc /usr/share/tor/tor-service-defaults-torrc -f /etc/tor/torrc --RunAsDaemon 0 --verify-config
KillSignal=SIGINT
LimitNOFILE=65536
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
NotifyAccess=all
PermissionsStartOnly=yes
PIDFile=/run/tor/tor.pid
PrivateDevices=yes
PrivateTmp=yes
ProcSubset=pid
ProtectClock=true
ProtectControlGroups=true
ProtectHome=yes
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=full
ReadOnlyDirectories=/
ReadWriteDirectories=-/proc
ReadWriteDirectories=-/run
ReadWriteDirectories=-/var/lib/tor
ReadWriteDirectories=-/var/log/tor
Restart=on-failure
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
TimeoutStartSec=300
TimeoutStopSec=60
Type=notify

[Install]
WantedBy=multi-user.target
