
{% if forwarding %}
SocksPort [::1]:9050 IsolateDestPort IsolateDestAddr
+SocksPort [{{ wg0_ipv6 }}]:9050 IsolateDestPort IsolateDestAddr
SocksPolicy accept ::1/128, accept {{ wg0_ipv6 }}/{{ wg0_class6 }}, reject *
{% endif %}

AvoidDiskWrites 1
ClientOnly 1
ClientPreferIPv6ORPort 1
ClientUseIPv6 1
ConnectionPadding 1
ControlSocket 0

UseBridges 1
ClientTransportPlugin snowflake exec {{ client_path }}
Bridge snowflake 192.0.2.4:80 8838024498816A039FCBBAB14E6F40A0843051FA fingerprint=8838024498816A039FCBBAB14E6F40A0843051FA url=https://snowflake-broker.torproject.net.global.prod.fastly.net/ front=foursquare.com fronts=foursquare.com,github.githubassets.com ice=stun:stun.tgragnato.it:3478,stun.l.google.com:19302 utls-imitate=hellorandomizedalpn
Bridge snowflake 192.0.2.3:80 2B280B23E1107BB62ABFC40DDCC8824814F80A72 fingerprint=2B280B23E1107BB62ABFC40DDCC8824814F80A72 url=https://snowflake-broker.torproject.net.global.prod.fastly.net/ front=foursquare.com fronts=foursquare.com,github.githubassets.com ice=stun:stun.tgragnato.it:3478,stun.l.google.com:19302 utls-imitate=hellorandomizedalpn
Bridge 93.56.117.22:443 2A5DF4A0FDD52868E25F2C33BC232AFFD19B8BF3

NumDirectoryGuards 3
NumEntryGuards 3
NumPrimaryGuards 3

GeoIPFile /usr/share/tor/geoip
GeoIPv6File /usr/share/tor/geoip6
