[Match]
Name={{ wifi_interface }}

[Network]
{% if ipv4 %}
Address={{ wifi_ipv4 }}/{{ wifi_class4 }}
{% endif %}
{% if ipv6 %}
Address={{ wifi_ipv6 }}/{{ wifi_class6 }}
{% endif %}
DHCPServer=yes
LLMNR=no
MulticastDNS=no

[DHCPServer]
ServerAddress={{ wifi_ipv4 }}/{{ wifi_class4 }}
PoolOffset={{ pool_offset }}
PoolSize={{ pool_size }}
EmitDNS=yes
DefaultLeaseTimeSec=1h
MaxLeaseTimeSec=3h
EmitDNS=yes
DNS={{ wifi_ipv4 }}
EmitNTP=yes
NTP={{ wifi_ipv4 }}