[paths]
data = /tmp
temp_data_lifetime = 1h
logs = /var/log

[server]
domain = api.tgragnato.it
root_url = https://%(domain)s/grafana/
serve_from_sub_path = true
protocol = https
min_tls_version = TLS1.3
http_addr = ::1
http_port = 3000

[database]
type = postgres
host = [::1]:5432
name = grafana
user = grafana
password = grafana

[remote_cache]
type = database

[security]
admin_user = grafana
admin_password = grafana

[plugins]
plugin_admin_enabled = false