ARGS='--web.listen-address=[::1]:9187 --auto-discover-databases'
DATA_SOURCE_NAME='postgresql://{{ prometheus_postgres_exporter }}:{{ prometheus_postgres_exporter }}@localhost:5432/postgres?sslmode=disable'