server:
  http_listen_address: 127.0.0.1
  grpc_listen_address: 127.0.0.1

ingester:
  lifecycler:
    address: 127.0.0.1
    ring:
      kvstore:
        store: inmemory

compactor:
  sharding_ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory

store_gateway:
  sharding_ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory

distributor:
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory

memberlist:
  node_name: localhost
  randomize_node_name: false
  advertise_addr: "127.0.0.1"
  bind_addr: [ "127.0.0.1" ]

frontend:
  address: 127.0.0.1

overrides_exporter:
  ring:
    instance_addr: 127.0.0.1

query_scheduler:
  ring:
    instance_addr: 127.0.0.1

pyroscopedb:
  data_path: "{{ master_pyroscope_datapath }}"

tracing:
  enabled: false

self_profiling:
  disable_push: true

multitenancy_enabled: false

analytics:
  reporting_enabled: false
