[Unit]
Description={{ service_description }}
Wants=network-online.target
After=network.target network-online.target {{ service_after }}

[Service]
AmbientCapabilities={{ service_ambient_capabilities }}
CapabilityBoundingSet={{ service_capability_bounding_set }}
DevicePolicy=closed
ExecStart={{ service_exec_start }}
Group={{ service_group }}
LimitNOFILE={{ service_limit_nofile }}
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProcSubset=pid
ProtectClock={{ service_protect_clock }}
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
RemoveIPC=true
Restart=on-failure
RestrictAddressFamilies={{ service_restrict_address_families }}
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@resources @privileged
UMask={{ service_umask }}
User={{ service_user }}
{% if service_working_directory and service_working_directory != "" %}
WorkingDirectory={{ service_working_directory }}
{% endif %}

[Install]
WantedBy=multi-user.target