[Unit]
Description={{ master_service_description }}
Wants=network-online.target
After=network.target network-online.target {{ master_service_after }}

[Service]
AmbientCapabilities={{ master_service_ambient_capabilities }}
CapabilityBoundingSet={{ master_service_capability_bounding_set }}
DevicePolicy=closed
ExecStart={{ master_service_exec_start }}
Group={{ master_service_group }}
LimitNOFILE={{ master_service_limit_nofile }}
LockPersonality=true
MemoryDenyWriteExecute={{ master_service_memory_deny_write_execute }}
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProcSubset=pid
ProtectClock={{ master_service_protect_clock }}
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
RemoveIPC=true
Restart=on-failure
RestrictAddressFamilies={{ master_service_restrict_address_families }}
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@resources @privileged
UMask={{ master_service_umask }}
User={{ master_service_user }}
{% if master_service_readwrite_paths and master_service_readwrite_paths != "" %}
ReadWritePaths={{ master_service_readwrite_paths }}
{% endif %}
{% if master_service_working_directory and master_service_working_directory != "" %}
WorkingDirectory={{ master_service_working_directory }}
{% endif %}

[Install]
WantedBy=multi-user.target