[NetDev]
Name = wg0
Kind = wireguard

[WireGuard]
PrivateKey = {{ master_wg0_privatekey }}
ListenPort = {{ master_wg0_port }}

{% for peer in master_wgpeers %}
[WireGuardPeer]
PublicKey = {{ peer.publickey }}
PresharedKey = {{ peer.presharedkey }}
AllowedIPs = {{ peer.allowedips }}

{% endfor %}