---

- name: Initialize the system
  ansible.builtin.import_tasks: init.yml

- name: Customize the FHS
  ansible.builtin.import_tasks: fhs.yml

- name: Initialize the network
  ansible.builtin.import_tasks: network.yml

- name: Setup ntp
  ansible.builtin.import_tasks: ntp.yml

- name: Setup resolved
  ansible.builtin.import_tasks: resolve.yml

- name: Setup ssh
  ansible.builtin.import_tasks: ssh.yml

- name: Install postgresql
  ansible.builtin.import_tasks: postgresql.yml

- name: Install k0s
  ansible.builtin.import_tasks: k0s.yml
