---

- name: Install timesyncd
  ansible.builtin.apt:
    name: systemd-timesyncd
    state: present
  tags: ntp

- name: Setup timesyncd.conf
  ansible.builtin.template:
    src: timesyncd.conf.j2
    dest: "{{ base_systemd_prefix }}/timesyncd.conf"
    owner: root
    group: root
    mode: '0644'
  notify: Restart ntp
  tags: ntp

- name: Enable timesyncd
  ansible.builtin.systemd:
    name: systemd-timesyncd.service
    state: started
    enabled: true
    masked: false
  tags: ntp
