---

- name: Install systemd-resolved
  ansible.builtin.apt:
    name: systemd-resolved
    state: present
  tags: resolve

- name: Deploy systemd-resolved config (DoT to Cloudflare)
  ansible.builtin.template:
    src: resolved.conf.j2
    dest: /etc/systemd/resolved.conf
    owner: root
    group: root
    mode: '0644'
  notify: Restart systemd-resolved
  tags: resolve

- name: Enable and start systemd-resolved
  ansible.builtin.systemd:
    name: systemd-resolved
    state: started
    enabled: true
    daemon_reload: true
  tags: resolve

- name: Set /etc/resolv.conf to systemd-resolved stub
  ansible.builtin.file:
    src: /run/systemd/resolve/stub-resolv.conf
    dest: /etc/resolv.conf
    state: link
  tags: resolve
