APT::Install-Recommends "false";
APT::Install-Suggests "false";
APT::AutoRemove::Recommends-Important "false";
APT::AutoRemove::Suggests-Important "false";
Acquire::AllowDowngradeToInsecureRepositories "false";
Acquire::AllowInsecureRepositories "false";
Acquire::http::AllowRedirect "false";
APT::Sandbox::Seccomp "true";