[Unit]
Description=k0s - Zero Friction Kubernetes (controller)
Documentation=https://docs.k0sproject.io
After=network-online.target postgresql@{{ base_postgresql_version }}-main.service
Wants=network-online.target
Requires=postgresql@{{ base_postgresql_version }}-main.service

[Service]
Delegate=yes
ExecStart={{ base_k0s_binary_path }} controller --single --no-taints -c {{ base_k0s_config_path }}
KillMode=process
LimitCORE=infinity
LimitNOFILE=1048576
LimitNPROC=infinity
RestartSec=10
RuntimeDirectory=k0s
RuntimeDirectoryMode=0755
StartLimitBurst=10
StartLimitInterval=5
TasksMax=infinity
TimeoutStartSec=0
TimeoutStopSec=120
Type=simple

[Install]
WantedBy=multi-user.target
