server:

{% if sinkhole_china %}
    local-zone: "cn." always_null
    local-zone: "xn--fiqs8s." always_null
    local-zone: "xn--fiqz9s." always_null
    local-zone: "hk." always_null
    local-zone: "xn--j6w193g." always_null
    local-zone: "mo." always_null
    local-zone: "xn--mix082f." always_null
    local-zone: "xn--mix891f." always_null
{% endif %}

{% if sinkhole_russia %}
    local-zone: "ru." always_null
    local-zone: "su." always_null
    local-zone: "xn--p1ai." always_null
    local-zone: "by." always_null
    local-zone: "xn--90ais." always_null
{% endif %}

{% if sinkhole_iran %}
    local-zone: "ir." always_null
    local-zone: "xn--mgba3a4f16a." always_null
{% endif %}

{% if sinkhole_dprk %}
    local-zone: "kp." always_null
{% endif %}

    local-zone: "6bgaput9ullc.com." always_null
    local-zone: "addresseepaper.com." always_null
    local-zone: "adjust.com." always_null
    local-zone: "adjust.net.in." always_null
    local-zone: "adsmoloco.com." always_null
    local-zone: "advgo.net." always_null
    local-zone: "amazone-adsystem.com." always_null
    local-zone: "amplitude.com." always_null
    local-zone: "app-mearusement.com." always_null
    local-zone: "appboy.eu." always_null
    local-zone: "applovin.com." always_null
    local-zone: "applvn.com." always_null
    local-zone: "appsflyersdk.com." always_null
    local-zone: "banquetunarmedgrater.com." always_null
    local-zone: "bodis.com." always_null
    local-zone: "braze-images.com." always_null
    local-zone: "braze.com." always_null
    local-zone: "braze.eu." always_null
    local-zone: "cookielaw.org." always_null
    local-zone: "crashlytics.com." always_null
    local-zone: "crashlyticsreports-pa.googleapis.com." always_null
    local-zone: "creative-bars1.com." always_null
    local-zone: "criteo.com." always_null
    local-zone: "definedlaunching.com." always_null
    local-zone: "doubleclick.net." always_null
    local-zone: "facebook.com." always_null
    local-zone: "facebook.net." always_null
    local-zone: "firebaselogging-pa.googleapis.com." always_null
    local-zone: "fonts.googleapis.com." always_null
    local-zone: "fonts.gstatic.com." always_null
    local-zone: "friendshipmale.com." always_null
    local-zone: "googlesyndication.com." always_null
    local-zone: "googletagmanager.com." always_null
    local-zone: "googletagservices.com." always_null
    local-zone: "inner-active.mobi." always_null
    local-zone: "instagram.com." always_null
    local-zone: "lasubqueries.com." always_null
    local-zone: "lunalabs.io." always_null
    local-zone: "mpi-internal.com." always_null
    local-zone: "mpianalytics.com." always_null
    local-zone: "onetrust.io." always_null
    local-zone: "online-metrix.net." always_null
    local-zone: "padfungusunless.com." always_null
    local-zone: "privacy-center.org." always_null
    local-zone: "pubmatic.com." always_null
    local-zone: "pubnative.net." always_null
    local-zone: "raddoppia-bitcoin.click." always_null
    local-zone: "runative-syndicate.com." always_null
    local-zone: "schip.io." always_null
    local-zone: "sift.com." always_null
    local-zone: "siftscience.com." always_null
    local-zone: "ssacdn.com." always_null
    local-zone: "supersonicads.com." always_null
    local-zone: "unity3d.com." always_null
    local-zone: "unseenreport.com." always_null
    local-zone: "vungle.com." always_null
    local-zone: "waggonerfoulpillow.com." always_null
    local-zone: "yourwebbars.com." always_null