server:

{% if ipv4 %}
    interface: 127.0.0.1
{% if forwarding %}
    interface: {{ wg0_ipv4 }}
{% endif %}
{% endif %}
{% if ipv6 %}
    interface: ::1
{% if forwarding %}
    interface: {{ wg0_ipv6 }}
{% endif %}
{% endif %}

    access-control: 0.0.0.0/0 refuse
{% if ipv4 %}
    access-control: 127.0.0.0/8 allow
{% if forwarding %}
    access-control: {{ wg0_ipv4 }}/{{ wg0_class4 }} allow
{% endif %}
{% endif %}
    access-control: ::0/0 refuse
{% if ipv6 %}
    access-control: ::1 allow
{% if forwarding %}
    access-control: {{ wg0_ipv6 }}/{{ wg0_class6 }} allow
{% endif %}
{% endif %}

    private-address: 0.0.0.0/8
    private-address: 100.64.0.0/10
    private-address: 127.0.0.0/8
    private-address: 169.254.0.0/16
    private-address: 192.0.0.0/24
    private-address: 192.0.2.0/24
    private-address: 192.88.99.0/24
    private-address: 198.18.0.0/15
    private-address: 198.51.100.0/24
    private-address: 203.0.113.0/24
    private-address: 224.0.0.0/4
    private-address: 240.0.0.0/4
    private-address: 255.255.255.255/32
    private-address: 10.0.0.0/8
    private-address: 172.16.0.0/12
    private-address: 192.168.0.0/16
    private-address: ::/128
    private-address: ::1/128
    private-address: ::ffff:0:0/96
    private-address: ::ffff:0:0:0/96
    private-address: 64:ff9b::/96
    private-address: 64:ff9b:1::/48
    private-address: 100::/64
    private-address: 2001:0000::/32
    private-address: 2001:20::/28
    private-address: 2001:db8::/32
    private-address: 2002::/16
    private-address: fc00::/7
    private-address: fe80::/10
    private-address: ff00::/8

    hide-identity: yes
    hide-version: yes

    root-hints: {{ root_hints | default('/usr/share/dns/root.hints') }}
    
    # Custom
    cache-max-ttl: {{ cache_max | default(604800) }}
    cache-min-ttl: {{ cache_min | default(3600) }}
    serve-expired: yes
    serve-expired-ttl: {{ expired_max | default(86400) }}
    serve-expired-client-timeout: {{ expired_timeout | default(1800) }}
    prefetch: yes
    prefetch-key: yes
    aggressive-nsec: yes
    use-caps-for-id: yes
    deny-any: yes
    qname-minimisation: yes
    qname-minimisation-strict: yes

    # Cores
    num-threads: {{ cores | default(1) }}
    msg-cache-slabs: {{ cores | default(1) }}
    rrset-cache-slabs: {{ cores | default(1) }}
    infra-cache-slabs: {{ cores | default(1)}}
    key-cache-slabs: {{ cores | default(1) }}

    # Memory Control
    msg-cache-size: {{ cache_size | default("128m") }}
    rrset-cache-size: {{ cache_rrsets | default("256m") }}
    key-cache-size: {{ cache_size | default("128m") }}
    neg-cache-size: {{ cache_size | default("128m") }}
    infra-cache-numhosts: 100000000000

    # Harden
    harden-large-queries: "yes"
    harden-short-bufsize: "yes"
    harden-glue: "yes"
    harden-dnssec-stripped: "yes"
    harden-below-nxdomain: "yes"
    harden-referral-path: "yes"
    harden-algo-downgrade: "yes"

    # CAs bundle
    tls-cert-bundle: {{ ca_bundle }}
