[Resolve]
DNS={{ base_resolve_ipv6 }} {{ base_resolve_ipv4 }}
FallbackDNS={{ base_resolve_ipv6 }} {{ base_resolve_ipv4 }}
DNSOverTLS=yes
Domains=~.
DNSSEC=allow-downgrade
MulticastDNS=no
LLMNR=no
ResolveUnicastSingleLabel=no
