deb {{ debian_repository }} stable main {{ nonfree_firmware | default('') }}
deb {{ debian_repository }} stable-updates main {{ nonfree_firmware | default('') }}
deb {{ debian_security }} stable-security main {{ nonfree_firmware | default('') }}