deb {{ debian_repository }} stable main non-free-firmware
deb {{ debian_repository }} stable-updates main non-free-firmware
deb {{ debian_security }} stable-security main non-free-firmware
deb {{ debian_repository }} stable-backports main non-free-firmware