deb {{ base_debian_repository }} stable main non-free-firmware
deb {{ base_debian_repository }} stable-updates main non-free-firmware
deb {{ base_debian_security }} stable-security main non-free-firmware
deb {{ base_debian_repository }} stable-backports main non-free-firmware