[Match]
Name=wan

[Network]
DHCP=yes
LLMNR=no
MulticastDNS=no
IPv6PrivacyExtensions=kernel

[DHCPv4]
SendHostname=no
UseDNS=no
UseNTP=no
UseSIP=no
UseHostname=no
UseDomains=no
UseTimezone=no

[DHCPv6]
UseDNS=no
UseNTP=no
UseHostname=no
UseDomains=no

[IPv6AcceptRA]
UseDNS=no
UseDomains=no