name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.24' ]

    steps:

    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Set up Go ${{ matrix.go-version }}
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}

    - name: Build
      run: go build -v ./...

    - name: Test
      run: CGO_ENABLED=1 go test -v ./... -covermode=atomic -coverprofile=coverage.out

    - name: Upload coverage report
      uses: codecov/codecov-action@v5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        files: ./coverage.out
        flags: unittests
        verbose: true

    - name: GoLang CI Lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: latest
        only-new-issues: true
        args: --timeout=5m
